<%
  assets.js.push("jquery-1.8.2.min.js");
  assets.js.push("bootstrap.js");

  getActive: function getActive(tag) {
    if (location && tag && location.toLowerCase().trim() === tag.toLowerCase().trim()) {
      return 'class="active"';
    }
  }
%>

<nav class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/" <%- getActive("home") %>><i class="icon-home"></i> Home</a></li>
          <li><a href="/angular" <%- getActive("angular") %>>Angular</a></li>
          <li><a href="/responsive" <%- getActive("responsive") %>>Responsive</a></li>
          <li><a href="/bootstrap" <%- getActive("bootstrap") %>>Bootstrap</a></li>
          <li><a href="/localstorage" <%- getActive("localstorage") %>>Local Storage</a></li>
          <li><a href="/carousel" <%- getActive("carousel") %>>Carousel</a></li>
        </ul>
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Help</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>